node-red.txt
[{"id":"f9db2dd7.f0878","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8453eb6f.264a78","type":"delay","z":"f9db2dd7.f0878","name":"","pauseType":"delay","timeout":"500","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":340,"wires":[["fb0e7046.3137"]]},{"id":"3eb6982a.9d2518","type":"inject","z":"f9db2dd7.f0878","name":"0.5s tick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":100,"y":440,"wires":[["21713d72.6b8982"]]},{"id":"19aa9147.85d45f","type":"arduino out","z":"f9db2dd7.f0878","name":"","pin":"4","state":"OUTPUT","arduino":"ae088b96.0d3c48","x":1030,"y":500,"wires":[]},{"id":"f5d263a5.a7202","type":"function","z":"f9db2dd7.f0878","name":"Alterna TRUE e FALSE","func":"\n// If it does exist make it the inverse of what it was or else initialise it to false\n// (context variables persist between calls to the function)\ncontext.level = !context.level || 0;\n\n// set the payload to the level and return\nmsg.payload = context.level;\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":500,"wires":[["364d4b82.f367f4","19aa9147.85d45f","9e1f4584.bce4d8"]]},{"id":"fea2f625.b64288","type":"arduino in","z":"f9db2dd7.f0878","name":"","pin":"3","state":"INPUT","arduino":"ae088b96.0d3c48","x":90,"y":280,"wires":[["8453eb6f.264a78","514584b5.18e3dc"]]},{"id":"514584b5.18e3dc","type":"debug","z":"f9db2dd7.f0878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":550,"y":80,"wires":[]},{"id":"a61c6e14.507a5","type":"debug","z":"f9db2dd7.f0878","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":570,"y":160,"wires":[]},{"id":"364d4b82.f367f4","type":"debug","z":"f9db2dd7.f0878","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":770,"y":660,"wires":[]},{"id":"8f30160f.0e8378","type":"mqtt in","z":"f9db2dd7.f0878","name":"","topic":"STATUS","qos":"2","broker":"908804b0.453028","x":280,"y":500,"wires":[["f5d263a5.a7202"]]},{"id":"21713d72.6b8982","type":"mqtt out","z":"f9db2dd7.f0878","name":"","topic":"STATUS","qos":"2","retain":"","broker":"908804b0.453028","x":500,"y":440,"wires":[]},{"id":"fb0e7046.3137","type":"switch","z":"f9db2dd7.f0878","name":"Filtro","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":270,"y":400,"wires":[["a61c6e14.507a5","21713d72.6b8982"]]},{"id":"ea3f1d55.e7092","type":"ui_switch","z":"f9db2dd7.f0878","name":"","label":"switch","group":"5a9d5fbe.f2691","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"0","onvalueType":"num","onicon":"Ligado","oncolor":"","offvalue":"1","offvalueType":"num","officon":"Desligado","offcolor":"","x":790,"y":540,"wires":[["19aa9147.85d45f"]]},{"id":"9e1f4584.bce4d8","type":"ui_toast","z":"f9db2dd7.f0878","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"STATUS","name":"","x":840,"y":440,"wires":[]},{"id":"ae088b96.0d3c48","type":"arduino-board","z":"","device":"COM4"},{"id":"908804b0.453028","type":"mqtt-broker","z":"","name":"","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5a9d5fbe.f2691","type":"ui_group","z":"","name":"Default","tab":"99dadf5b.bcc3d","disp":true,"width":"6","collapse":false},{"id":"99dadf5b.bcc3d","type":"ui_tab","z":"","name":"Home","icon":"dashboard"}]